<div class='subtemplate-wrapper'>
  <% if (rf.get(Formbuilder.options.mappings.FIELD_ERROR)){ %>
    <p class="text-error">
      <%= rf.get(Formbuilder.options.mappings.FIELD_ERROR) %>
    </p>
  <% } %>
  <div class='cover'></div>
  <% if(editStructure){  %>
  <%= Formbuilder.templates['view/duplicate_remove']({rf: rf}) %>
  <% } %>
  <span class="icon icon-inline <%= Formbuilder.fields[rf.get(Formbuilder.options.mappings.FIELD_TYPE)].icon %>"><%= Formbuilder.fields[rf.get(Formbuilder.options.mappings.FIELD_TYPE)].iconText %></span>
  <%= Formbuilder.templates['view/label']({rf: rf}) %>

  <%= Formbuilder.templates['view/description']({rf: rf}) %>

  <%= Formbuilder.fields[rf.get(Formbuilder.options.mappings.FIELD_TYPE)].view({rf: rf}) %>  

</div>
