<div class='fb-tab-pane active' id='addField'>
  <div class='fb-add-field-types'>
    <div class='section'>
      <% for (i in fieldsEnabled) { %>
        <a data-field-type="<%= i %>" class="btn btn-primary btn-<%= i %>">
          <%= fieldsEnabled[i].addButton %>
        </a>
      <% } %>
    </div>

    <div class='section'>
      <% for (i in fieldsEnabledNonInput) { %>
        <a data-field-type="<%= i %>" class="btn btn-primary btn-<%= i %>">
          <%= fieldsEnabledNonInput[i].addButton %>
        </a>
      <% } %>
    </div>
  </div>
</div>
