<div class='span4 right'>
  <ul class='fb-tabs nav nav-tabs compact '>
    <% if(editStructure){ %>
      <li class='active addfield'><a data-target='#addField'><i class="icon-plus"></i> <span data-rv-translate>Field</span></a></li>
      <li class="configurefield"><a data-target='#editField'><i class="icon-cog"></i> <span data-rv-translate>Field</span></a></li>
    <% }else{ %>
      <li class="active configurefield"><a data-target='#editField'><i class="icon-cog"></i> <span data-rv-translate>Field</span></a></li>
    <% } %>
  </ul>

  <div class='fb-tab-content'>
    <% if(editStructure){ %>
      <%= Formbuilder.templates['partials/add_field']( { fieldsEnabledNonInput : fieldsEnabledNonInput, fieldsEnabled : fieldsEnabled } ) %>
    <% } %>
    <%= Formbuilder.templates['partials/edit_field']() %>
  </div>
</div>
