<%= Formbuilder.templates['edit/base_header']() %>
<%= Formbuilder.templates['edit/common']({ rf : rf, editStructure : editStructure, commonCheckboxes : commonCheckboxes, repeatable : repeatable, repeating : repeating }) %>
<% // We only show the custom edit stuff at the bottom if we havent explicitly disabled the value box %>
<% if (Formbuilder.fields[rf.get(Formbuilder.options.mappings.FIELD_TYPE)].valueField !== false) { %>
  <%= Formbuilder.fields[rf.get(Formbuilder.options.mappings.FIELD_TYPE)].edit({rf: rf}) %>
<% } %>
