<% if (editStructure) { %>
  <div class='fb-edit-section-header'>Name</div>
  <input type='text' data-rv-input='model.<%= Formbuilder.options.mappings.LABEL %>' />
<% } %>
<div class='fb-edit-section-header'>Value</div>
<input type='text' data-rv-input='model.<%= Formbuilder.options.mappings.VALUE %>' />
<div class='fb-edit-section-header'><%= Formbuilder.options.mappings.DESCRIPTION_TITLE %></div>
<textarea data-rv-input='model.<%= Formbuilder.options.mappings.DESCRIPTION %>'
  placeholder='<%= Formbuilder.options.mappings.DESCRIPTION_PLACEHOLDER %>'></textarea>