<div class='fb-edit-section-header' data-rv-translate>Minimum / Maximum</div>

<span data-rv-translate>Min</span>
<input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.MIN %> | number" style="width: 30px" />

&nbsp;&nbsp;

<span data-rv-translate>Max</span>
<input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.MAX %> | number" style="width: 30px" />

<span data-rv-translate>Step Size</span>
<input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.STEP_SIZE %> | number" style="width: 30px" />
