<div class="fb-configure-length">
  <div class='fb-edit-section-header' data-rv-translate>Length Limit</div>

  <span data-rv-translate>Min</span>
  <input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.MIN %> | number" style="width: 30px" />

  &nbsp;&nbsp;

  <span data-rv-translate>Max</span>
  <input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.MAX%> | number" style="width: 30px" />

  &nbsp;&nbsp;

  <select data-rv-value="model.<%= Formbuilder.options.mappings.LENGTH_UNITS %>" style="width: auto;">
    <option value="characters" data-rv-translate>characters</option>
  </select>
</div>
