<% if (rf.get(Formbuilder.options.mappings.REQUIRED) === true){ %>
<div class="fb-configure-length">
  <div class='fb-edit-section-header' data-rv-translate>Selected Options Limit</div>

  <span data-rv-translate>Min</span>
  <input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.MIN %> | number" style="width: 30px" />

  &nbsp;&nbsp;

  <span data-rv-translate>Max</span>
  <input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.MAX%> | number" style="width: 30px" />
</div>
<% } %>
