<div class='fb-edit-section-header'>Options</div>

<% if (typeof includeDatasource !== 'undefined'){ %>
  <label class="includeDataSource">
    <% var checked = (rf.get(Formbuilder.options.mappings.DATASOURCE_TYPE)==='dataSource') ? "checked" : ""; %>
      <input type='checkbox' <%=checked%> />
      Use a Data Source to populate field options?
  </label>

 <% var disabled = (rf.get(Formbuilder.options.mappings.DATASOURCE_TYPE)==='dataSource') ? "" : "disabled"; %>
  <div class='ds-dd'>
    <select <%=disabled%> class='ds-select'></select>
  </div>
<% } %>

<% if (typeof includeBlank !== 'undefined'){ %>
  <label class="includeBlank">
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_BLANK %>' />
    Include blank
  </label>
<% } %>

<div class='option' data-rv-each-option='model.<%= Formbuilder.options.mappings.OPTIONS %>'>
  <input type="checkbox" class='js-default-updated' data-rv-checked="option:checked" />
  <input type="text" data-rv-input="option:label" class='option-label-input' />
  <div class="btn-group">
    <a class="btn btn-success btn-small js-add-option" title="Add Option"><i class='icon-plus-sign'></i></a>
    <a class="btn btn-danger btn-small js-remove-option" title="Remove Option"><i class='icon-minus-sign'></i></a>
  </div>
</div>

<% if (typeof includeOther !== 'undefined'){ %>
  <label class="includeOther">
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_OTHER %>' />
    Include "other"
  </label>
<% } %>

<div class='fb-bottom-add'>
  <a class="js-add-option <%= Formbuilder.options.BUTTON_CLASS %>">Add option</a>
</div>
